.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    font-family: 'Times New Roman', Times, serif;

}

.search_input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;

}

/* input border outline remove focus used */

.search_input > input:focus {
    outline-width: 0px;
}

.icon{
    color: gray;
}


.button{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.button button{
    margin:5px;
    padding: 7px 15px;
    background-color: rgba(194, 194, 194, 0.636);
    border: 1px solid white;
    text-transform: inherit;
    color: rgb(41, 41, 41);
}

.button button:hover{
    box-shadow: 0 1px 1px rgb(224, 223, 223);
    border-color: rgb(255, 255, 255) rgb(174, 174, 174) rgb(169, 168, 168);
    border: 1px solid grey;
    color: rgb(0, 0, 0);
}
/* 
.hidden{
    display: none !important;
} */

.buttonhidden{
    display: none !important;
}